*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
}

.Bg{
    width: 100%;
    min-height:100vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../Img/Hysson2.jpg');
    opacity:0.5;
    z-index:-1;
}
.row::after{
    content:"";
    clear:both;
    display:table;
    
}
[class*="col-"]{
    float:left;
    padding:15px;
    
  }
  /*phones*/
  
  [class*="col-"]{
      width: 100%;
  }
    
   
  @media only screen and (min-width:600px){
/*tabs*/
      .col-p1 {width: 8.33%;}
.col-p2 {width: 16.66%;}
.col-p3 {width: 25%;}
.col-p4 {width: 33.33%;}
.col-p5 {width: 41.66%;}
.col-p6 {width: 50%;}
.col-p7 {width: 58.33%;}
.col-p8 {width: 66.66%;}
.col-p9 {width: 75%;}
.col-p10 {width: 83.33%;}
.col-p11 {width: 91.66%;}
.col-p12 {width: 100%;}
  }
  
  /*desktop*/
  
  @media only screen and (min-width:768px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
  }


div.PrevTxt{
    position: absolute;
    top: 30%;
    word-spacing: 10px;
    text-align: center;
    color: black;
    font-style: oblique;
    font-family: cursive;
    
}





    @media only screen and (min-width:786px ){
        
        div.PrevTxt{
            color:#0000FF;
            text-align:center;
            align-content: space-around;
            width :500px;
            display: flex;
            flex-wrap:wrap;

        }
        p1{
            text-indent:100px;
        }
      
        a{
            text-decoration:underline;
            font-weight:bolder;
                    
        }
        .Bg{
            display:none;
        }
        
        .video{
    position :absolute;
    right:0;
    bottom:0;
    z-index:-1;
    
}
@media (max-aspect-ratio:16/9){
    .video{
        width: auto;
        height:100%;
    }
}
@media (max-aspect-ratio:16/9){
    .video{
        width: 100%;
        height:auto;
    }
}
nav{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    padding :10px;
    align-items:center;
    justify-content:space-between;
    
}
nav .logo{
    width: 50px;
    border-radius:25px;
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-left:50px;
    text-decoration:none;
    color:blue;
    font-size:15px;
    font-weight:bold;
    
}
.nav1{
    display:none;
}
}
@media(max-width:786px){
    .video{
        display:none;
    }
    .nav2{
    display:none;
}
.nav1 ul li{
 font-family:cursive;
   font-size:15px;
   color:blue;
}
}

.mailbody{
height: 100vh;
background: #262626;
}
.mailh1{
color: red;
text-align:center;

}

.mailalert{
width:80%;
height:auto;
position:fixed;
left:10%;
right:10%;
top:45%;
}
.mailbutton{
right:0;
}

    